* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================================
   DARK THEME - DEFAULT
================================ */

:root {
  --bg: #111827;
  --card: #1e293b;
  --secondary: #334155;

  --text: #ffffff;
  --text-secondary: #94a3b8;

  --primary: #2563eb;
  --border: rgba(255, 255, 255, 0.08);
}

/* ================================
   LIGHT THEME
================================ */

body[data-theme="light"] {
    --bg: #ffffff;
    --card: #fffffff9;
    --secondary: #e4e8ea;

    --text: #111827;
    --text-secondary: #64748b;

    --primary: #2563eb;
    --border: #e5e7eb;
}

/* ================================
   GLOBAL
================================ */

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  background: var(--bg);
  color: var(--text);

  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  overflow-x: hidden;
}

/* ================================
   LIGHT THEME - PURE WHITE PAGE
================================ */

body[data-theme="light"] {
  background: #ffffff;
  color: #111827;
}

/* ================================
   SCROLLBAR
================================ */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d4ed8;
}