* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px 80px;
}

.logo {
    font-size: 32px;
    font-weight: bold;
}

.nav-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    cursor: pointer;
    transition: 0.3s;
}

.nav-links li:hover {
    color: #38bdf8;
}

.login-btn {

    background: #2563eb;
    color: white;

    border: none;

    padding: 10px 20px;

    border-radius: 8px;

    cursor: pointer;

    transition: .3s;
}

.login-btn:hover {

    background: #1d4ed8;

}